{% extends 'base.html' %}
{% load static %}

{% block body %}
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('{% static "assets/img/create.jpg" %}')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="post-heading">
                        <!-- Title, subheading, and description form -->
                        <form method="post" class="blog-form">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="title">Title</label>
                                <input type="text" class="form-control" id="title" name="title" required>
                            </div>
                            <div class="form-group">
                                <label for="subheading">Subheading</label>
                                <input type="text" class="form-control" id="subheading" name="subheading" required>
                            </div>
                            <div class="form-group">
                                <label for="description">Description</label>
                                <textarea class="form-control" id="description" name="description" rows="4" required></textarea>
                            </div>
                            
                            <button type="submit" class="btn btn-primary">Create Blog</button>
                        </form>
                        <!-- End of Title, subheading, and description form -->
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- content -->

{% endblock %}
